<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>               <!-- row 2   -->
        <td>9:00 - 10:50</td>        <!-- time    -->
        <td>Introduction and getting started with Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>10:00 - 10:50</td>        <!-- time    -->
        <td>Building programs with Python</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 4   -->
        <td>11:00-12:00</td>        <!-- time    -->
        <td>Plotting</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
      <tr>               <!-- row 1   -->
        <td>9:00 - 10:50</td>        <!-- time    -->
        <td>Repeating things</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 2   -->
        <td>10:00 - 10:50</td>        <!-- time    -->
        <td>Making choices</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:00-12:00</td>        <!-- time    -->
        <td>Modularizing your program</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
